.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar, footer{
  background-color: #FF76CF
}
footer {
  padding: 25px;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  scale: 1.5;
}
.fa:hover {
  opacity: 0.7;
  color: white
}
@font-face { font-family: Mango; src: url('data/black-mango-regular.ttf');}
@font-face { font-family: Agrandir; src: url('data/Agrandir-Regular.ttf');  font-weight: 1 1000;}
@font-face { font-family: Agrandir; src: url('data/Agrandir-TextBold.ttf');  font-weight: bold;}
*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.nav-link{
  font-size: 18px;
  font-family: Agrandir;
}
.navbar .navbar-collapse .navbar-nav .nav-link:hover{
  color: rgba(255, 255, 255, 0.315) !important;
}
h1{
  font-size: 50px;
  font-family: Mango, Agrandir, sans-serif;
}
h2{
  font-size: 25px;
  font-family: Agrandir, sans-serif;
}
main{
  margin-left: 20px;
  margin-right: 20px
}
figcaption{
  text-align: center;
  font-size: 14px;
}
h3{
  font-size: 24px;
  font-weight: bolder;
  color: #FF76CF;
}
.citation{
  border-left: #FF76CF;
  border-left-style: solid;
  border-width: 4px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff76cf1c;
}
.active{
  font-weight: bolder;
}
.banner{
  background-image: url(data/banner1.jpg);
  background-size: cover;
  background-position: center top;
  height: 50vh;
  margin-bottom: 20px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1920px){
  main {
    max-width: 1920px;
    margin-left: 10%;
    margin-right: 10%
  }
  .navbar-brand {
    margin-left: 200px;
  }
}
@media (min-width: 992px) {
  .navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.navbar-toggler-icon{
  background-image: url("data/menu.svg");
}
.bar-border{
  border-right: 1px;
  border-right-style: solid;
  border-color: white;
}
.thanks-inner{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
}